* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
/* HEADER */
header {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.redesSociais{
  display: flex;
  gap: 30px;
}

.redesSociais button{
  background: none;      
  border: none;         
  padding: 0;            
  cursor: pointer;
}

.redesSociais button i {
  color: #0AAFEE;
}

.redesSociais button:hover i {
  color: #1cd760;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 50px;
  background-color: #fff;
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.212); 
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #3b2b58;
  font-weight: 500;
}

nav a:hover {
  color: #1cd760;
}

/* BANNER */
.banner {
  position: relative;
  height: 100vh;
  background: url('./IMG/header.png') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  color: white;
}

.banner h1 {
  font-size: 90px;
  font-weight: bold;
   text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  
}

.banner p {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 2px 2px 6px rgb(0, 0, 0);  
}

.paraiso {
  color: #99FF02;
}

.banner .busca {
  position: absolute;
  right: 8%;
  top: 30%;
  background-color: rgba(56, 212, 255, 0.692);
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.486);
}

.busca h3 {
  text-shadow: 2px 2px 6px #00000057   ;
  margin-bottom:  5px;
  font-size: 25px;
  text-align: center;
}

.busca form {
  display: flex;
  flex-direction: column;
  gap:5px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.541) ;
}

.busca input {
  padding: 8px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 3px #00000057  ;
}

.busca button {
  background-color: #99FF02;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
  box-shadow: 1px 1px 2px #00000057;
}

.busca button:hover {
  background-color: #89ff89;
}

/* IMOVEIS */
.naPlanta{
  color: rgba(56, 212, 255, 0.692);
}

.imoveis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 50px;
  background-color: #fff;
  backdrop-filter: blur(5px);
}